@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:300,400,500,700&display=swap');

* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
}

#root {
  overflow: hidden;
  min-height: 100vh;
}

div[role='group'] {
  height: 100%;
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 0.6em;
}

li {
  margin-bottom: 0.6em;
}

a {
  color: inherit;
  display: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

span {
  display: inline-block;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  line-height: 1.55em;
}

hr {
  border: none;
  background: #c7c7c7;
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}
/* h1 {
  font-size: 2.75rem;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 0.45em;
}

h3 {
  font-size: 1.85rem;
  margin-bottom: 0.45em;
}

h4 {
  font-size: 1.65rem;
  margin-bottom: 0.45em;
}

h5 {
  font-size: 1.45rem;
  margin-bottom: 0.35em;
}
h6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 0.35em;
} */

blockquote {
  border-color: darkgrey;
  border-style: solid;
  border-left-width: 2px;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 15px;
  line-height: 1.6em;
  padding-left: 10px;
}

cite {
  display: block;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  position: relative;
}
/* 
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  transition: 0.2s ease-in;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  transition: 0.2s ease-out;
} */

/* Blueprint */
/* 
.bp3-overlay-scroll-container .bp3-overlay-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

.bp3-portal {
  z-index: 10000;
}

.bp3-overlay-open {
  height: 100vh;
}
.bp3-overlay-content {
  /* left: calc(50vw - 250px) !important; */
}
